# The goal of this Jupyter Notebook is to convert CSV files in HTML tables and insert them in a MongoDB database.

In [1]:
# import dependencies
import pandas as pd
import pymongo
from dbconfig import dbname, dbuser, psswd, host, parameters
import os, json, csv, time

### Open connection with remote MongoDB

In [2]:
# Gets params for connection
connection_string ='mongodb+srv://' + dbuser + ':' + psswd + host + '/' + dbname + "?" + parameters
  
# Pass connection to the pymongo instance.
client = pymongo.MongoClient(connection_string)

# Connect to database. Will create one if not already available.
db = client.migration

### Converting Global Areas Dataset from CSV to HTML table and  inserting in MongoDB

In [3]:
# Opens the CSV file with Pandas
file = os.path.join("static", "data", "global_areas.csv")
df = pd.read_csv(file) 
# Convert to HTML table adding Bootstrap classes.
html_table = df.to_html(index=False, escape=False, justify="left", classes="table table-striped table-bordered table-sm")

In [4]:
# Put the HTML table in JSon format
json_data = {}
json_data["html_table"] = html_table

# Drop collection if available to remove duplicates
db.global_areas.drop()

# Create a collection in the database and insert the document
db.global_areas.insert_one (json_data)


### Converting Top 5 Countries Dataset from CSV to HTML table and inserting in MongoDB

In [5]:
# Opens the CSV file with Pandas
file = os.path.join("static", "data", "top_5_countries.csv")
df = pd.read_csv(file) 
# Convert to HTML table adding Bootstrap classes.
html_table = df.to_html(index=False, escape=False, justify="left", classes="table table-striped table-bordered table-sm")

In [6]:
# Put the HTML table in JSon format
json_data = {}
json_data["html_table"] = html_table

# Drop collection if available to remove duplicates
db.top5countries.drop()

# Create a collection in the database and insert the document
db.top5countries.insert_one (json_data)

### Converting Top 10 Countries Dataset from CSV to HTML table and inserting in MongoDB

In [8]:
# Opens the CSV file with Pandas
file = os.path.join("static", "data", "top_10_countries.csv")
df = pd.read_csv(file) 
# Convert to HTML table adding Bootstrap classes.
html_table = df.to_html(index=False, escape=False, justify="left", classes="table table-striped table-bordered table-sm")

In [9]:
# Put the HTML table in JSon format
json_data = {}
json_data["html_table"] = html_table

# Drop collection if available to remove duplicates
db.top10countries.drop()

# Create a collection in the database and insert the document
db.top10countries.insert_one (json_data)